@font-face {
  font-family: "BadMofo";
  src: url(../fonts/BadMofo.ttf);
}
@font-face {
  font-family: "Deiya";
  src: url(../fonts/Deiya.ttf);
}
@font-face {
  font-family: "Adel Regular";
  src: url(../fonts/Abel-Regular.ttf);
}

/* My framwork */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: auto;
}
body {
  background-color: #fff9e9;
  color: #1e1e1e;
  line-height: 1.6;
  margin: 0 auto;
  font-family: Abel Regular;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
}

/* logo */
.logo .logoimg {
  width: 4vw;
  /* height: 4vh; */
  cursor: auto;
}
h3 {
  font-size: 2.2rem;
  padding: 0 20px;
  color: #d1202d;
  font-family: BadMofo;
  cursor: pointer;
}
/* me */
h1 {
  font-family: Deiya;
  line-height: 1.6;
  color: #d1202d;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
h2 {
  font-family: Deiya;
  color: #d1202d;
}

/* Icons */
i {
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  cursor: pointer;
  margin: 0 10px;
  color: #be1e2d;
  font-size: 1.6vw;
}

/* main */
main {
  background: #fff9e9;
  border: 2px solid #be1e2d;
  box-shadow: 2px 2px 0 0 #ef4136, 4px 4px 0 0 #f7941d;
  border-radius: 50px;
}

/* pages */
.landing-page,
.about,
.projects,
.contacts {
  border-bottom: 1px solid #be1e2d;
}

/* image */
img.AO-img {
  width: 100%;
  height: 100%;
  cursor: auto;
}

/* show button */
.show {
  box-shadow: 2px 2px 0 0 #ef4136, 4px 4px 0 0 #f7941d;
  color: #be1e2d;
  background: #fff;
  transition: all 1s ease;
}
.show:hover {
  background: #d1202d;
  color: #fff;
}

/* about image */
.myimg {
  width: 200px;
  height: 250px;
  object-fit: contain;
  box-shadow: 2px 2px 0 0 #ef4136, 4px 4px 0 0 #f7941d;
}
/* skills */
.tech {
  width: 7.5rem;
  padding: 10px;
}
.about .card-body {
  width: auto;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 2px 0 0 #ef4136, 4px 4px 0 0 #f7941d;
}

/* Projects : Card */
.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.pro-tech {
  background: #ffc15b;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
}
.projects .row p {
  font-size: 12px;
}
.projects .card-body {
  transition: all 1s ease;
}
.projects .card-body:hover {
  box-shadow: 5px 5px 5px 0px #9999995d;
}
